<div class="container">
	<div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
            	<li><a ui-sref="app">Home</a></li>
                <li><a ui-sref="app.about" class="active">About Us</a></li>
            </ul>
        </div>
        <div class="col-xs-12">
               <h3> About Us</h3>
               <hr>
        </div>
    </div>
	<div class="row row-content">
		<div class="col-xs-10 col-xs-offset-1">
            <div class="media">
            	<div class="media-left media-middle hidden-xs">
            		<a href="#">
                        <img class="media-object img-thumbnail" src="images/logo.png" alt="logo" height="350px" width="200px">
                    </a>
            	</div>
            	<div class="media-body">
                    <p style="font-size: 17px; font-family: Maven Pro;"><strong>Packed with top headlines, latest transfer news, league standings and fixtures in the world of Football <i class="fa fa-futbol-o" aria-hidden="true"></i>. FootballGhetto brings you trending articles from top sports news broadcasters (Four-Four-Two, Daily Star, ESPN, Sky Sports, BBC Sports, SportBible, Mirror, etc ... ) all in one place.</strong></p><br>
                    <p style="font-size: 17px; font-family: Maven Pro;"><strong>Hope you enjoy <i class="fa fa-smile-o" aria-hidden="true"></i> our content and share with your friends on Facebook !</strong></p>
                    <div ng-click="shareBtn()" class="btn btn-success clearfix"><i class="fa fa-facebook-official"></i>&nbsp;&nbsp;Share</div>          
            	</div>
            </div>
            <div><p style="padding: 25px"></p></div>
		</div>
	</div>
</div>