<div class="container">
	<div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
            	<li><a ui-sref="app">Home</a></li>
                <li><a ui-sref="app.contact" class="active">Contact Us</a></li>
            </ul>
        </div>
        <div class="col-xs-12">
            <h3><i class="fa fa-map-marker" aria-hidden="true"></i> Our Location</h3>
            <hr>        
        </div>
    </div>
	<div class="row row-content">
        <div class="col-xs-10 col-xs-offset-1">
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <p style="padding: 12px"></p>
                    <address style="font-size: 16px"><strong>
                        Ghetto Sports Company Limited<br>
                        S/No. 2, Main Market Street<br>
                        Opposite GN - Bank<br>
                        Awutu - Bawjiase, Central Region<br>
                        Ghana.<br>
                        <br>
                        <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> +233 558 393 217<br>
                        <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> +233 545 446 337<br>
                   </strong></address>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8">
                <!--    <p style="padding: 3px"></p> -->
                    <div id="mapid"></div>
                </div>
                <div class="col-xs-12">
                    <p style="padding: 8px"></p>
                    <!--<h3>For any question, suggestion, information ...</h3>-->
                    <h3><i class="fa fa-commenting" aria-hidden="true"></i>&nbsp;&nbsp;Send us a message</h3>
                    <hr>        
                </div>
                <div class="col-xs-10 col-xs-offset-1">
                    <p style="padding: 10px"></p>
                    <form class="form-horizontal" role="form" name="feedbackForm" ng-submit="send()" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : feedbackForm.fullname.$error.required && !feedbackForm.fullname.$pristine }">
                        <label for="fullname" class="col-sm-2 control-label">Full Name</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Full Name (required)" ng-model="feedback.name" required>
                          <span ng-show="feedbackForm.fullname.$error.required && !feedbackForm.fullname.$pristine" class="help-block">Full name is required.</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : feedbackForm.subject.$error.required && !feedbackForm.subject.$pristine }">
                        <label for="subject" class="col-sm-2 control-label">Subject</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject (required)" ng-model="feedback.subject" required>
                            <span ng-show="feedbackForm.subject.$error.required && !feedbackForm.subject.$pristine" class="help-block">Subject is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-2 control-label">Phone</label>
                        <div class="col-sm-10">
                            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone Number" ng-model="feedback.phone">
                        </div>
                    </div>
                    <div class="form-group"  ng-class="{ 'has-error has-feedback' : feedbackForm.emailid.$invalid && !feedbackForm.emailid.$pristine }">
                        <label for="emailid" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="emailid" name="emailid" ng-model="feedback.email" placeholder="Email (required)" ng-model="feedback.email" required>
                            <span ng-show="feedbackForm.emailid.$invalid && !feedbackForm.emailid.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <span ng-show="feedbackForm.emailid.$invalid && !feedbackForm.emailid.$pristine" class="help-block">Enter a valid email address.</span>
                        </div>
                    </div>                   
                    <div class="form-group">
                        <label for="feedback" class="col-sm-2 control-label">Message</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="feedback" name="feedback" rows="12" ng-model="feedback.comment"></textarea>
                        </div>
                    </div> 
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success" ng-disabled="feedbackForm.$invalid"><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;Send</button>
                        </div>
                    </div>
                    </form>
                    <p style="padding: 10px"></p>
                </div>
        </div>
    </div>
</div>