<div class="container">
	<div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
            	<li><a ui-sref="app">Home</a></li>
                <li><a ui-sref="app.news" class="active">News & Fixtures</a></li>
            </ul>
        </div>
    </div>
	<div class="row row-content">
        <div class="col-xs-12 col-sm-12 col-md-8">
            <div class="col-xs-12">
                <h1 align="center"><i class="fa fa-globe" aria-hidden="true"></i>&nbsp;TOP HEADLINES</h1>
            </div>
            <div class="col-xs-12"><br><br>      
                <h3><img align="center" src="images/fft.png"; style="height: 60px; width: 60px; display: inline;">&nbsp;&nbsp;{{fourfourtwo.source}}</h3>
                <hr>                
                <div class="col-xs-12" ng-if="!showFFT">
                    <a style="max-width: 80%; font-size: 15px; font-weight: bold; color: black">{{messageFFT}}</a>
                </div>
                <div class="col-xs-12" style="padding: 5px;" ng-if="showFFT" ng-repeat="fft in fourfourtwo.articles">
                    <div><br><a style="color: black" href="{{fft.url}}" target="_blank"><p style="font-size: 18px; padding: 15px"><strong>{{fft.title}}:</strong>&nbsp;&nbsp;{{fft.description}}&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></p></a></div>
                    <div><img class="col-xs-12" align="center" src="{{fft.urlToImage}}";/></div><hr>
                </div>
            </div>
            <div class="col-xs-12"><br><br><br>
                <h3><img align="center" src="images/bbc.png"; style="height: 60px; width: 60px; display: inline;">&nbsp;&nbsp;{{bbcsport.source}}</h3>
                <hr>        
                <div class="col-xs-12" ng-if="!showBBC">
                    <a style="max-width: 80%; font-size: 15px; font-weight: bold; color: black">{{messageBBC}}</a>
                </div>
                <div class="col-xs-12" style="padding: 5px" ng-if="showBBC" ng-repeat="bbc in bbcsport.articles">
                    <div><br><a style="color: black" href="{{bbc.url}}" target="_blank"><p style="font-size: 18px; padding: 15px"><strong>{{bbc.title}}:</strong>&nbsp;&nbsp;{{bbc.description}}&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></p></a></div>
                    <div><img class="col-xs-12" src="{{bbc.urlToImage}}";/></div>
                </div>
            </div>
            <div class="col-xs-12"><br><br><br>
                <h3><img align="center" src="images/sb.png"; style="height: 60px; width: 60px; display: inline;">&nbsp;&nbsp;{{thesportbible.source}}</h3>
                <hr>       
                <div class="col-xs-12" ng-if="!showSPB">
                    <a style="max-width: 80%; font-size: 15px; font-weight: bold; color: black">{{messageSPB}}</a>
                </div>
                <div class="col-xs-12" style="padding: 5px" ng-if="showSPB" ng-repeat="spb in thesportbible.articles">
                    <div><br><a style="color: black" href="{{spb.url}}" target="_blank"><p style="font-size: 18px; padding: 15px"><strong>{{spb.title}}:</strong>&nbsp;&nbsp;{{spb.description}}&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></p></a></div>
                    <div><img class="col-xs-12" src="{{spb.urlToImage}}";/></div>
                </div>
            </div>
            <div class="col-xs-12"><br><br><br>
                <h3><img align="center" src="images/fit.png"; style="height: 60px; width: 60px; display: inline;">&nbsp;&nbsp;{{footballitalia.source}}</h3>
                <hr>        
                <div class="col-xs-12" ng-if="!showFIT">
                    <a style="max-width: 80%; font-size: 15px; font-weight: bold; color: black">{{messageFIT}}</a>
                </div>
                <div class="col-xs-12" style="padding: 5px" ng-if="showFIT" ng-repeat="fit in footballitalia.articles">
                    <div><br><a style="color: black" href="{{fit.url}}" target="_blank"><p style="font-size: 18px; padding: 15px"><strong>{{fit.title}}:</strong>&nbsp;&nbsp;{{fit.description}}&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></p></a></div>
                    <div><img class="col-xs-12" src="{{fit.urlToImage}}";/></div>
                </div>
            </div>
        </div>

        <div class="hidden-xs hidden-sm col-md-4">
            
        </div>
	</div>
</div>